<a href="https://colab.research.google.com/github/catmalark/Tensorflow-Study-Notes/blob/main/NN_Regression_CalHousing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from keras import layers
import numpy as np

In [21]:
data_train = pd.read_csv("/content/sample_data/california_housing_train.csv")
data_test = pd.read_csv("/content/sample_data/california_housing_test.csv")

print(data_train.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0

In [9]:

# apply normalization techniques
for column in data_train.columns:
	data_train[column] = (data_train[column] - data_train[column].min()) / (data_train[column].max() - data_train[column].min())

for column in data_test.columns:
	data_test[column] = (data_test[column] - data_test[column].min()) / (data_test[column].max() - data_test[column].min())	
 
data_train.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,0.476882,0.327867,0.540968,0.069637,0.083552,0.039984,0.082260,0.233354,0.396497
std,0.199718,0.227135,0.246803,0.057465,0.065410,0.032172,0.063233,0.131595,0.239141
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.254980,0.147715,0.333333,0.038487,0.045934,0.022058,0.046210,0.142514,0.215259
50%,0.583665,0.181722,0.549020,0.056017,0.067194,0.032624,0.067094,0.209976,0.341032
75%,0.632470,0.550478,0.705882,0.083017,0.100442,0.048152,0.099367,0.294279,0.515464
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
data_train = tf.convert_to_tensor(data_train)
data_test = tf.convert_to_tensor(data_test)

In [11]:
X_train = data_train[1:17000,0:8]
y_train = data_train[1:17000:, 8]
print(X_train.shape)
print(y_train.shape)
X_test = data_test[1:3000, 0:8]
y_test = data_test[1:3000, 8]
print(X_test.shape)
print(y_test.shape)

(16999, 8)
(16999,)
(2999, 8)
(2999,)

In [26]:
model = tf.keras.Sequential(
    [
     keras.layers.Dense(1, input_shape=[8]),
     keras.layers.Dense(512, activation="relu"),
     keras.layers.Dense(1),
    ]
)

In [27]:
model.compile(
    loss = "mse",
    optimizer = "sgd",
)

model.fit(X_train, y_train, batch_size=32, validation_split=0.15, epochs=40)
model.evaluate(X_test, y_test, batch_size=32)

Epoch 1/40
452/452 [==============================] - 2s 3ms/step - loss: 0.0587 - val_loss: 0.0801
Epoch 2/40
452/452 [==============================] - 2s 4ms/step - loss: 0.0526 - val_loss: 0.0818
Epoch 3/40
452/452 [==============================] - 2s 4ms/step - loss: 0.0506 - val_loss: 0.0800
Epoch 4/40
452/452 [==============================] - 2s 4ms/step - loss: 0.0489 - val_loss: 0.0797
Epoch 5/40
452/452 [==============================] - 2s 4ms/step - loss: 0.0471 - val_loss: 0.0782
Epoch 6/40
452/452 [==============================] - 2s 4ms/step - loss: 0.0448 - val_loss: 0.0754
Epoch 7/40
452/452 [==============================] - 2s 5ms/step - loss: 0.0422 - val_loss: 0.0721
Epoch 8/40
452/452 [==============================] - 2s 4ms/step - loss: 0.0393 - val_loss: 0.0716
Epoch 9/40
452/452 [==============================] - 2s 4ms/step - loss: 0.0364 - val_loss: 0.0650
Epoch 10/40
452/452 [==============================] - 2s 4ms/step - loss: 0.0337 - val_loss: 0.0586
Epoch 11/40
452/452 [==============================] - 2s 4ms/step - loss: 0.0314 - val_loss: 0.0559
Epoch 12/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0293 - val_loss: 0.0515
Epoch 13/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0277 - val_loss: 0.0466
Epoch 14/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0263 - val_loss: 0.0445
Epoch 15/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0251 - val_loss: 0.0396
Epoch 16/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0242 - val_loss: 0.0382
Epoch 17/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0234 - val_loss: 0.0356
Epoch 18/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0229 - val_loss: 0.0343
Epoch 19/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0224 - val_loss: 0.0326
Epoch 20/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0220 - val_loss: 0.0323
Epoch 21/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0217 - val_loss: 0.0304
Epoch 22/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0214 - val_loss: 0.0310
Epoch 23/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0212 - val_loss: 0.0300
Epoch 24/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0210 - val_loss: 0.0301
Epoch 25/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0209 - val_loss: 0.0293
Epoch 26/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0207 - val_loss: 0.0281
Epoch 27/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0206 - val_loss: 0.0277
Epoch 28/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0206 - val_loss: 0.0279
Epoch 29/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0205 - val_loss: 0.0274
Epoch 30/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0204 - val_loss: 0.0274
Epoch 31/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0204 - val_loss: 0.0271
Epoch 32/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0203 - val_loss: 0.0276
Epoch 33/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0203 - val_loss: 0.0269
Epoch 34/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0202 - val_loss: 0.0270
Epoch 35/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0202 - val_loss: 0.0270
Epoch 36/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0202 - val_loss: 0.0270
Epoch 37/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0201 - val_loss: 0.0264
Epoch 38/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0201 - val_loss: 0.0264
Epoch 39/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0201 - val_loss: 0.0268
Epoch 40/40
452/452 [==============================] - 1s 2ms/step - loss: 0.0201 - val_loss: 0.0268
94/94 [==============================] - 0s 1ms/step - loss: 0.0226

0.022625278681516647